table, td, tr {
    border: 2px,solid, var(--brand-color-dark);
    border-collapse: collapse;
    padding: 4px;
}
.time {
    text-align: right;
}
tr.table-header {
    background: var(--brand-color);
    color: rgb(255, 255, 255);
}
td.weekday:hover {
    color: var(--brand-color-light);
}