:root {
    --brand-color-dark: rgb(10, 50, 121);
    --brand-color: rgb(10,75,121);
    --brand-color-light: rgb(40, 125, 188)
}

* {
    font-size: 1rem;
}

.btn {
    background-color: var(--brand-color);
    border-radius: 1em;

    padding: 0.5rem;
    border: none;
    color: white;

    &:hover {
        background-color: var(--brand-color-light);
    }
    &:active {
        background-color: var(--brand-color-dark);
    }
}