:root {
    --brand-color-dark: #0000be;
    --brand-color: #0000ff;
    --brand-color-light: #9191ff;
}

* {
    font-size: 1rem;
}

.btn {
    background-color: var(--brand-color);
    border-radius: 1em;

    padding: 0.5rem;
    border: none;

    &:hover {
        background-color: var(--brand-color-light);
    }
    &:active {
        background-color: var(--brand-color-dark);
    }
}